body {
	margin:0px;
	font-family:"Trebuchet MS", Tahoma, Arial, Verdana;
	font-size:12px;
	color:#000;
        background-color: #B0E2FF;
}

#todo {
	position: relative;
	width: 851px;
	margin:0px auto;
	background-color: white;
}

#topo {
	position: relative;
	width: 851px;
	height: 315px;
}

#meio {
	position: absolute;
	width: 851px;
	background-color: #00FFCC;
}

#rodape {
	width: 851px;
	height: 75px;
        background-color: #1E90FF; //skyBlue1
}


#miolo {
	float: left;
	width: 850px;
        background-color: #66CCFF;
        border: 1px solid #708090;
        
        
}
#miolo2{
        background-color: #FFFFFF;
        height: 380px;
        overflow:scroll;
} 

#menu {
	width: 150px;
	height: 400px;
}

.boavinda{
    text-align: left;
    margin-left: 20px;
    
}
.user{
    text-align: center;
    text-transform:capitalize;
}

.boavindanome{
    text-align: left;
    margin-top: 0px;
    margin-left: 20px;
    text-transform:capitalize;
}
.boavindadir{
    text-align: right;
    margin-right: 15px;
}


.itemMenu {
	width: 190px;
	height: 21px;
	background-color: #87CEEB;
	padding: 3px 0px 0px 10px;
	border-bottom: 1px solid black;
}

//#logo {
	//float: center;
	//width: 200px;
	//height: 100px;
	//text-align: center;
	//background-color: #000000;
//}

.secao_miolo {
	text-align: center;
	background-color: #66CCFF;
}


#rodape_direita {
	float: right;
	text-align: right;
	margin: 5px 10px 0px 0px;
}
