body {
	margin:0px;
	background-color: #cccccc;
	font-family:"Trebuchet MS", Tahoma, Arial, Verdana;
	font-size:12px;
	color:#000;
}

#todo {
	position: relative;
	width: 851px;
	margin:0px auto;
	background-color: white;
}

#topo {
	position: relative;
	width: 851px;
	height: 315px;
	border: 1px solid;
}

#meio {
	position: absolute;
	width: 851px;
	background-color: #eeeeee;
}

#rodape {
	width: 850px;
	height: 75px;
	border: 1px solid brown;
}

#esquerda {
	float: left;
	width: 200px;
	min-height: 400px;
	border: 1px solid;
}

#miolo {
	float: left;
	width: 506px;
        border-bottom: 1px solid;
        
}

#direita {
	float: right;
	min-height: 400px;
	border: 1px solid;
}

#menu {
	width: 150px;
	height: 400px;
}

.boavinda{
    text-align: left;
    margin-left: 20px;
    
}
.user{
    text-align: center;
    text-transform:capitalize;
}

.boavindanome{
    text-align: left;
    margin-left: 20px;
    text-transform:capitalize;
}
.boavindadir{
    text-align: right;
    margin-right: 15px;
}


.itemMenu {
	width: 140px;
	height: 21px;
	background-color: lightyellow;
	padding: 3px 0px 0px 10px;
	border-bottom: 1px solid black;
}

#logo {
	float: center;
	width: 200px;
	height: 100px;
	text-align: center;
	background-color: #cccccc;
}

.secao_miolo {
	
	text-align: center;
	background-color: #cccccc;
	margin: 0px 0px 10px 0px;
}

.secao_direita {
	width: 140px;
	height: 100px;
	text-align: center;
	background-color: #cccccc;
}

#rodape_direita {
	float: right;
	text-align: right;
	margin: 5px 10px 0px 0px
}
